.bg{/*用*/
    background:#f3f3f3;
    font-size:15px;
}
.top {/*用*/
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    position: fixed;
    top: 0px;
    z-index: 100;
    min-width: 1032px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);

}

.topbar {/*用*/
    width: 1000px;
    height: 52px;
    padding:0 16px;
    display: flex;
    position: relative;
    /*position: absolute;*/
    /*top:50%;*/
    /*transform:translateY(-50%);*/
    padding: 0 16px;
    margin: 0 auto;
    align-items:center;
}
.is-active{/*用*/
    color:black;
}
.topbar-logo {/*用*/
    background-image: url("../img/new_logo.ede2316d.png");
    background-repeat: no-repeat;
    background-position: 0 8px;
    margin-right:30px;
    height: 52px;
    width: 61px;
}

.topbar-nav {/*用*/
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.top-search {/*用*/
    margin-left: 15px;
    width: 330px;
    height: 33px;
}

.top-search-form {/*用*/
    float: left;
    width: 330px;
    height: 33px;
}

.top-search-input {/*用*/
    width: 330px;
    height: 33px;
    padding-left: 15px;
    transition:width .2s ease,background .3s ease;
    position:relative;
    border:1px solid #e7eaf1;
    box-sizing:border-box;
}
/*.top-search-input:focus{!*用*!*/
    /*width:385px;*/
/*}*/
.input-group-addon {/*用*/
    cursor: pointer;
}

.top-add-question {/*用*/
    background-color: #0e78e7;
    width: 80px;
    height: 35px;
    margin-left: 45px;
    border: 0px;
    color: #FFFFFF;
    z-index:103;
    transition:opaticty .3s ease,transform .3s ease;
}
.top-bar-ques-hide{/*用*/
    opacity:0;
}

.top-nav-profile {/*用*/
    width: 120px;
    height: 45px;
    line-height: 45px;
    position: relative;
    left: 60px;
    z-index: 10;
}

.top-nav-profile a {/*用*/
    display: block;
    font-size: 14px;
    line-height: 45px;
}

.top-nav-userinfo {/*用*/
    display:inline-block;
    color: black;
    font-weight: bold;
    font-size: 15px;
    /*padding-left: 30px;*/
    height: 45px;
    width: 120px;
    text-align: center;
    vertical-align: center;
    line-height: 45px;
}

.top-nav-dropdown {/*用*/
    display: none;
    position: absolute;
    width: 120px;
    top: 46px;
    left: 0px;
}

.top-nav-dropdown li {/*用*/
    padding-left: 10px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    background-color: #0e78e7;
    border-top: 1px solid #666666;
}

.top-nav-dropdown li a {/*用*/
    color: white;
    font-weight: bold;
}

.top-nav-profile:hover .top-nav-dropdown {/*用*/
    display: block;
}
/*导航栏部分结束，即topbar.html的样式*/
.mainbody {/*用*/
    display: flex;
    width: 1000px;
    margin: 52px auto;
    position: relative;
}
.topic{/*用*/
    width:700px;
    margin-right:10px;
    margin-top:10px;
}

.maincontent {/*用*/
    margin-bottom:10px;
    padding:15px;
    background:white;
    width: 700px;
}
.answer-author-info{
    font-size:15px;
    margin-bottom:10px;
}
.feed-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom:10px;
}
.zh-summary-span{
    font-size:15px;
    font-weight:400;
    line-height: 1.67;
}
.content-more{
    margin-left:4px;
    color:#175199;
    border:none;
    background:none;
    cursor:pointer;
}
.collaspetext{
    color:#175199;
    border:none;
    background:none;
    cursor:pointer;
    float: right;
}
.item-actions{
    align-items:center;
    padding:10px 20px;
    margin:0 -20px -10px;
    color:#555;
    clear:both;
}
.item-actions a{
    margin-right:20px;
    cursor:pointer;
}
.js-vote-count{
    display:inline-block;
    width:50px;
    text-align: center;
    background:cornflowerblue;
    border:1px solid cornflowerblue;
}
.devote{
    margin-left: -20px;
    display:inline-block;
    width:20px;
    text-align: center;
    font-size: 18px;
    font-weight:600;
}

.entry-body {
    position: relative;
}
/*avatar已设置左浮动，不占用文档流，所以这里想要和avatar在同一行则不需要浮动了*/

/*.pinglun2 {*/
    /*margin-left: 48px;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
/*}*/
.right {/*用*/
    margin-top:10px;
    background:white;
    width:290px;
    position:absolute;
    right:0;
}
.right-nav li{
    padding:2px 15px;
    height:40px;
}
.right-nav a {
    line-height: 40px;
    font-size: 15px;
}

.right-nav li:hover {
    background: rgba(41, 37, 9, 0.31);
}

.right-nav li:hover a {
    color: #0066FF;
}
.right-icon{
    margin-right:15px;
}
.right-border {
    border: 1px #CCCCCC solid;
}

.right-nav h3 {
    font-size: 15px;
    margin-top: 10px;
}
.badge{
    float:right;
    margin-top:8px;
}
.zh-full{
    display: none;
}
.detail-wrapper{
    margin-bottom:40px;
}














/*从这开始下面的未修改*/
/*.pinglun2 {*/
    /*display: none;*/
/*}*/

.follow-link {
    display: none;
    position: absolute;
    top: 2px;
    right: 5px;
}

.black_overlay {
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background-color: rgba(37, 35, 5, 0.69);
    z-index: 101;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.white_content {
    display:block;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 80%;
    background-color: white;
    z-index: 2002;
    overflow: auto;
}

.post_close {
    text-align: right;
}

.postQues {
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.ques_title {
    margin: 10px;
    border: 2px solid darkgray;
    height: 35px;
    display: inline-block;
    padding-left: 10px;
    width: 80%;
}

.ques_content {
    margin: 10px;
    border: 2px solid darkgray;
    height: 135px;
    display: inline-block;
    padding-left: 10px;
    width: 80%;
    overflow: hidden;
    resize: none;
}

.sprite-global-icon-magnifier-dark {
    display: inline-block;
    background-image: url(../img/sprites.auto.2bb79a7e.png);
    background-repeat: no-repeat;
    background-position: -82px 0;
    width: 15px;
    height: 15px;
}

.top-message-tab-item {
    float: left;
    width: 33%;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-color: #FFFFFF;
    border: 0;
    padding: 0;
}

.top-live-icon {
    left: 144px;
    width: 25px;
    background: url(../img/sprites-1.9.2.4c54885a.png) no-repeat;
    top: -12px;
    background-position: -228px -186px;
    height: 15px;
    left: 144px;
    position: absolute;
    z-index: 25;
}

/*还没找到父级定位的*/

/*.frame-border {*/
    /*height: 1px;*/
    /*width: 100%;*/
    /*background: #0099FF;*/
/*}*/

/*.zm-noti7-content {*/
    /*width: 315px;*/
    /*height: 100%;*/
    /*display: block;*/
    /*font-size: 13px;*/
    /*line-height: 22px;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/

/*.zm-noti7-content-item {*/
    /*padding: 7px 11px;*/
    /*position: relative;*/
    /*display: block;*/
    /*width: 305px;*/
    /*height: 59px;*/
    /*overflow: hidden;*/
    /*border: 1px solid #999999;*/
    /*padding: 4px;*/
    /*line-hieght: 59px;*/
/*}*/

/*.zm-noti7-content-item span {*/
    /*font-size: 14px;*/
    /*text-align: left;*/
    /*height: 15px;*/
    /*line-height: 22px;*/
    /*padding: 6px;*/
/*}*/

/*.top-nav-live {*/
    /*width: 315px;*/
    /*border: 1px solid #ddd;*/
    /*position: absolute;*/
    /*top: 48px;*/
    /*left: 15px;*/
    /*z-index: 9;*/
    /*display: none;*/
/*}*/

/*.open:hover .top-nav-live{*/
/*display:block;*/
/*}*/
.open:hover .top-nav-live {
    display: block;
}












/*评论部分的样式*/
.commentusername{
    color: #413aeb;
}
.discuss {
    border: 1px solid #e7eaf2;
    box-shadow: 0 1px 3px 0 gainsboro;
    padding-left: 40px;
    margin-top: 12px;
    overflow: visible;
    border-radius: 4px;
    /*padding-bottom: 10px;*/
}
.comment_topbar{
    display: inline-block;
    height: 50px;
    padding:0 15px;
    line-height: 50px;
    font-size: 18px;

}
.comment{
    border-top: 1px solid #e7eaf2;;
    padding:10px;
    position: relative;
}
.addcommentinput{
float: right;
}
.discuss input {
    display: block;
    margin: 10px;
    width: 80%;
    height: 30px;
}
#back-to-top {
    border: 2px solid red;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 500px;
    bottom: 10px;
    background: url(../img/top_bg.png) no-repeat left top;;
    /*background: url(..\img\top_bg.png) no-repeat left top;*/
    display: none;
}

#back-to-top:hover {
    background: url(../img/top_bg.png) no-repeat 0 -39px;
}