<div class="top">
    <!--头部导航栏-->
    <div class="topbar">
        <a ui-sref="home" class="topbar-logo navbar-left"></a>
        <div class="topbar-nav navbar-left">
            <ul class="nav nav-pills">
                <li>
                    <a ui-sref="home.main" class="navitem is-active">首页</a>
                </li>
                <li>
                    <a ui-sref="error" class="navitem">话题</a>
                </li>
                <li>
                    <a ui-sref="error" class="navitem">发现</a>
                </li>
                <li>
                    <a ui-sref="home.main" class="navitem"><span class="mobi-arrow"></span>消息</a>
                </li>
            </ul>
        </div>
        <xm-search></xm-search>
        <button type="submit" class="btn navbar-right top-add-question" ng-click="queswindow()"><span>提问</span></button>
        <div class="navbar-right top-nav-profile">
            <span class="top-nav-userinfo" ng-bind="user.name"></span>
            <ul class="top-nav-dropdown">
                <li>
                    <a ui-sref="home.main"> <i class="glyphicon glyphicon-user"></i>  我的主页 </a>
                </li>
                <li>
                    <a ui-sref="home.main"> <i class="glyphicon glyphicon-envelope"></i>  私信 </a>
                </li>
                <li>
                    <a ui-sref="home.main"> <i class="glyphicon glyphicon-wrench"></i>  设置 </a>
                </li>
                <li ng-click="outLogin()">
                    <a ui-sref="index.login"> <i class="glyphicon glyphicon-off"></i>  退出 </a>
                </li>
            </ul>
            </li>
        </div>
    </div>
</div>
<div class="mainbody">
    <div ui-view="topic" class="topic"></div>
    <div ng-include="'right.html'" class="right"></div>
</div>
<popwindow ng-show="quesflag===1"></popwindow>
<!--<a href="javascript:;" id="back-to-top" title="回到顶部"></a>-->
<!--若a链接中href为#，则每次点击就会跳回顶部-->
